
.nav{
    background: var(--theme-top-bar-background, #fdf9f3);
    position: fixed;
    border-bottom: 1px solid rgba(0,0,0,0.33);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    width: auto;
    max-width: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 5px;

.write {
    cursor: pointer;
    width: auto;
    padding: 5px;
    height: auto;
    top: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #0a0a0a;
    border: 2px solid var(--theme-top-bar-write-color, #0a0a0a);
    color: var(--theme-top-bar-write-color, whitesmoke);
    background: var(--theme-top-bar-write-background, red);
    box-shadow: 5px 3px 0 #0e2877;
   
} 
.bmc-button img{
    height: 34px !important;
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;}
    
}
.bmc-button
{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#FF5F5F !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 20px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Arial', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}

.f{
    height: 40px !important;width: 165px !important;
}